.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkred;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.row {
    display: grid;
    grid-template-columns: 7fr 9fr;
    height: 50px;
}

h1 {
    text-align: center;
    color: red;
}

#accountlogo:hover {
    cursor: pointer;
    background-color: lightgray;
}

#accountlogo {
    transition: 0.5s;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#dndlogo {
    height: 50px;
    width: 180px;
}

#toplegend {
    font-weight: bold;
    font-size: large;
    color: red;
}

form > label {
    font-size: 50px;
}

.formgrid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    row-gap: 10px;
}

#stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 0px;
}

#stats > label {
    text-align: right;
}

#buttondiv {
    height: 40px;
    display: flex;
    justify-content: center;
}

.button {
    width: 120px;
    height: 40px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

#characterform {
    padding: 50px 100px;
}

input[type="button"] {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    width: 125px;
}

#errordiv {
    color: red;
    text-align: center;
}
