.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkred;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.row {
    display: grid;
    grid-template-columns: 7fr 9fr;
    height: 50px;
}

h1 {
    text-align: center;
    color: red;
}

#accountlogo:hover {
    cursor: pointer;
    background-color: lightgray;
}

#accountlogo {
    transition: 0.5s;
    height: 50px;
    width: 50px;
}

#dndlogo {
    height: 50px;
    width: 180px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    border: black solid 2px;
}

.grid#charactergrid{
    border: none;
}

#buttondiv {
    height: 40px;
    display: flex;
    justify-content: center;
}

#addcharacter {
    height: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

body {
    font-family: 'Oswald', sans-serif;
}

.character {
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    margin-bottom: 2px;
    font-size: xx-large;
    transition-duration: 0.5s;
}

.character:hover {
    cursor: pointer;
    background-color: darkred;

}
