.row {
    height: 50px;
}

.column {
    text-align: center;
}

h1 {
    text-align: center;
    color: red;
}

#dndlogo {
    width: 120px;
}

#formcontainer {
    padding: 0px 400px;
    margin: 0px 100px;
}

legend {
    font-weight: bold;
    color: red;
}

#formgrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 75px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

#buttongrid {
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#registerbutton {
    font-size: large;
    font-family: 'Oswald', sans-serif;
    width: 125px;
}
